/* tailwind.css */
@tailwind base;
@tailwind components;

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rubik:500&display=swap');

html {
  background: #386374;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  @apply tracking-tight
}


html,
body {
  max-width: 100vh;
  height: auto;
  min-height: 100vh;
  width: 100%;
  margin: 0px;
}

@tailwind utilities;
